<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
     <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p class="about">
            My Full name is Mohamed Ahmed Ghazali Iam a Senior at Simad University, Iam a Web and Mobile Application developer, 
            my major is Computer Science because my goal is to study this major in future and 
            to become a respected professional in one of the fields. 
            I can say that I am a responsible and a hard-working student. 
            Moreover, being a sociable person, I have many friends since I like to communicate with
             people and get to know new interesting individuals. I enjoy my time at school, University:
              it is really nice to study, the students are very friendly and ready to help. 
              The atmosphere cannot but make me want to go there every time. 
              I like to receive and deal with challenging tasks. 
            I am a very enthusiastic student and I think this is a strong point of mine.
        </p>
        <img class="portrait" src="/img/me.jpeg">

        </div>
       
       {{>footer}}
    </body>
</html>