<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        
        <link rel="stylesheet" href="/css/indexStyle.css">
    </head>

    <body class="myBody">
           
        <div class="main-content">
            
            {{>header}}
             <p class="parag">Use this site to get your weather!</p>     
             <div class="form">
             <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            </div>   
            <div class="messages"> 
            <p id="message-1"></p>
            <p id="message-2"></p>
            </div>  
        </div>
        
    
            
          {{>footer}}
           
           {{!-- <video src="/video/sky.mp4" muted loop autoplay></video> --}}
          </section>

           <script src="/js/app.js"></script>
    </body>
</html>